In [1]:
f=0                  # f 변수 초기화
try:                 # try문 시작
    f=open("LICENSE.txt","rt") # "LICENSE.txt" 파일을 텍스트 모드로 열기
    while True: # 무한 루프
        r=f.readline() # 파일에서 한 줄씩 읽기
        if not r: # 더 이상 읽어올 줄이 없으면
            break # 무한 루프 탈출
        print(r) # 한 줄씩 출력
except FileNotFoundError: # 파일이 없을 경우
    print("파일없음") # "파일없음" 출력
finally: # try 문이 끝나면 무조건 실행되는 부분
    if(f): f.close() # 파일 닫기
    print("프로그램 끝") # "프로그램 끝" 출력

파일없음
프로그램 끝

In [11]:
import random as r
#파이썬 내장 모듈인 random을 r이라는 이름으로 import
f = open("score.txt", "wt")
#현재 디렉토리에 score.txt 파일을 쓰기 모드로 열어서 파일 객체 f에 저장
for i in range(100):
# 0부터 99까지의 수를 반복
    one_person = "홍길동" + str(i) + "," + str(r.randrange(0, 100)) + "," + str(r.randrange(0, 100)) + "," + str(r.randrange(0, 100)) + "\n"
    #이름이 홍길동이고, 각 과목의 점수가 0에서 99까지 랜덤으로 생성되는 문자열 one_person을 만든다. 
    #마지막에 개행문자(\n)를 붙여서 파일에 쓰여질 때 한 줄씩 쓰이도록 한다.
    f.write(one_person)
    #one_person에 저장된 문자열을 파일에 쓴다.
    print(one_person)
    #one_person에 저장된 문자열을 화면에 출력
f.close()
#파일 객체 f를 닫는다.

홍길동0,63,36,22

홍길동1,40,6,66

홍길동2,89,18,62

홍길동3,49,74,8

홍길동4,60,89,14

홍길동5,48,68,46

홍길동6,42,22,58

홍길동7,10,90,32

홍길동8,88,1,77

홍길동9,55,94,36

홍길동10,37,50,5

홍길동11,95,45,10

홍길동12,15,50,42

홍길동13,88,7,54

홍길동14,80,8,40

홍길동15,46,56,84

홍길동16,68,28,78

홍길동17,69,49,22

홍길동18,70,86,35

홍길동19,66,84,8

홍길동20,51,10,4

홍길동21,85,56,32

홍길동22,50,86,4

홍길동23,49,38,27

홍길동24,47,15,6

홍길동25,10,1,43

홍길동26,10,2,99

홍길동27,9,22,81

홍길동28,13,48,12

홍길동29,62,65,14

홍길동30,1,59,85

홍길동31,30,89,73

홍길동32,44,58,41

홍길동33,90,23,95

홍길동34,77,74,21

홍길동35,31,0,81

홍길동36,34,3,6

홍길동37,49,59,67

홍길동38,90,87,97

홍길동39,72,51,3

홍길동40,10,8,20

홍길동41,14,32,29

홍길동42,42,31,3

홍길동43,96,97,59

홍길동44,23,46,77

홍길동45,13,31,65

홍길동46,88,48,82

홍길동47,93,16,18

홍길동48,53,35,41

홍길동49,10,8,1

홍길동50,24,50,75

홍길동51,15,81,34

홍길동52,70,33,3

홍길동53,35,62,17

홍길동54,91,98,45

홍길동55,3,17,22

홍길동56,16,72,87

홍길동57,43,44,5

홍길동58,25,46,66

홍길동59,47,12,98

홍길동60,63,83,86

홍길동61,59,19,56

홍길동62,28,23,52

홍길동63,78,57,34

홍길동64,80,85,64

홍길동65,64,92,22

홍길동66,57,73,90

홍길동67,80,63,11

홍길동68,38,90,15

홍길동69,84,26,4

홍길동70,21,60,38

홍길동71,5,88,45

홍길동72,35,61,19

홍길동73,59,91,17

홍길동74,57,73,67

홍길동75,95,92,35

홍길동76,59,13,73

홍길동77,63,20,95

홍길동78,78,82,54

홍길동79,29,38,14

홍길동80,91,44,84

홍길동81,2,84,96

홍길동82,57,31,15

홍길동83,88,87,53

홍길동84,66,89,5

홍길동85,22,51,35

홍길동86,88,2,90

홍길동87,31,49,77

홍길동88,7,31,28

홍길동89,0,64,83

홍길동90,4,42,54

홍길동91,12,75,12

홍길동92,55,82,97

홍길동93,88,97,26

홍길동94,59,50,89

홍길동95,1,3,93

홍길동96,23,86,75

홍길동97,89,58,89

홍길동98,43,19,34

홍길동99,87,7,32

In [12]:
f=0                          # 파일 핸들링을 위한 변수 f 초기화
f=open("score.txt","rt")     # score.txt 파일을 텍스트 읽기 모드로 열기
while True:                  # 무한 루프 시작
    one_person=f.readline() # 파일에서 한 줄씩 읽기
    if not one_person:       # 읽을 내용이 없으면 루프 탈출
        break
    one_person=one_person.replace("\n","")  # 읽어들인 문자열에서 줄바꿈 문자를 없앰
    item=one_person.split(",")  # 읽어들인 문자열을 콤마를 기준으로 나눠서 item 리스트에 저장
    print("="*10)             # 구분을 위한 구분선 출력
    print("이름: ", item[0])   # item 리스트의 첫번째 항목은 이름
    print("국어: ", item[1])   # item 리스트의 두번째 항목은 국어 점수
    print("영어: ", item[2])   # item 리스트의 세번째 항목은 영어 점수
    print("수학: ", item[3])   # item 리스트의 네번째 항목은 수학 점수
    print("="*10)             # 구분을 위한 구분선 출력
f.close()                     # 파일 핸들링 종료

==========
이름:  홍길동0
국어:  63
영어:  36
수학:  22
==========
==========
이름:  홍길동1
국어:  40
영어:  6
수학:  66
==========
==========
이름:  홍길동2
국어:  89
영어:  18
수학:  62
==========
==========
이름:  홍길동3
국어:  49
영어:  74
수학:  8
==========
==========
이름:  홍길동4
국어:  60
영어:  89
수학:  14
==========
==========
이름:  홍길동5
국어:  48
영어:  68
수학:  46
==========
==========
이름:  홍길동6
국어:  42
영어:  22
수학:  58
==========
==========
이름:  홍길동7
국어:  10
영어:  90
수학:  32
==========
==========
이름:  홍길동8
국어:  88
영어:  1
수학:  77
==========
==========
이름:  홍길동9
국어:  55
영어:  94
수학:  36
==========
==========
이름:  홍길동10
국어:  37
영어:  50
수학:  5
==========
==========
이름:  홍길동11
국어:  95
영어:  45
수학:  10
==========
==========
이름:  홍길동12
국어:  15
영어:  50
수학:  42
==========
==========
이름:  홍길동13
국어:  88
영어:  7
수학:  54
==========
==========
이름:  홍길동14
국어:  80
영어:  8
수학:  40
==========
==========
이름:  홍길동15
국어:  46
영어:  56
수학:  84
==========
==========
이름:  홍길동16
국어:  68
영어:  28
수학:  78
==========
==========
이름:  홍길동17
국어:  69
영어:  49
수학:  22
==========
==========
이름:  홍길동18
국어:  70
영어:  86
수학:  35
==========
==========
이름:  홍길동19
국어:  66
영어:  84
수학:  8
==========
==========
이름:  홍길동20
국어:  51
영어:  10
수학:  4
==========
==========
이름:  홍길동21
국어:  85
영어:  56
수학:  32
==========
==========
이름:  홍길동22
국어:  50
영어:  86
수학:  4
==========
==========
이름:  홍길동23
국어:  49
영어:  38
수학:  27
==========
==========
이름:  홍길동24
국어:  47
영어:  15
수학:  6
==========
==========
이름:  홍길동25
국어:  10
영어:  1
수학:  43
==========
==========
이름:  홍길동26
국어:  10
영어:  2
수학:  99
==========
==========
이름:  홍길동27
국어:  9
영어:  22
수학:  81
==========
==========
이름:  홍길동28
국어:  13
영어:  48
수학:  12
==========
==========
이름:  홍길동29
국어:  62
영어:  65
수학:  14
==========
==========
이름:  홍길동30
국어:  1
영어:  59
수학:  85
==========
==========
이름:  홍길동31
국어:  30
영어:  89
수학:  73
==========
==========
이름:  홍길동32
국어:  44
영어:  58
수학:  41
==========
==========
이름:  홍길동33
국어:  90
영어:  23
수학:  95
==========
==========
이름:  홍길동34
국어:  77
영어:  74
수학:  21
==========
==========
이름:  홍길동35
국어:  31
영어:  0
수학:  81
==========
==========
이름:  홍길동36
국어:  34
영어:  3
수학:  6
==========
==========
이름:  홍길동37
국어:  49
영어:  59
수학:  67
==========
==========
이름:  홍길동38
국어:  90
영어:  87
수학:  97
==========
==========
이름:  홍길동39
국어:  72
영어:  51
수학:  3
==========
==========
이름:  홍길동40
국어:  10
영어:  8
수학:  20
==========
==========
이름:  홍길동41
국어:  14
영어:  32
수학:  29
==========
==========
이름:  홍길동42
국어:  42
영어:  31
수학:  3
==========
==========
이름:  홍길동43
국어:  96
영어:  97
수학:  59
==========
==========
이름:  홍길동44
국어:  23
영어:  46
수학:  77
==========
==========
이름:  홍길동45
국어:  13
영어:  31
수학:  65
==========
==========
이름:  홍길동46
국어:  88
영어:  48
수학:  82
==========
==========
이름:  홍길동47
국어:  93
영어:  16
수학:  18
==========
==========
이름:  홍길동48
국어:  53
영어:  35
수학:  41
==========
==========
이름:  홍길동49
국어:  10
영어:  8
수학:  1
==========
==========
이름:  홍길동50
국어:  24
영어:  50
수학:  75
==========
==========
이름:  홍길동51
국어:  15
영어:  81
수학:  34
==========
==========
이름:  홍길동52
국어:  70
영어:  33
수학:  3
==========
==========
이름:  홍길동53
국어:  35
영어:  62
수학:  17
==========
==========
이름:  홍길동54
국어:  91
영어:  98
수학:  45
==========
==========
이름:  홍길동55
국어:  3
영어:  17
수학:  22
==========
==========
이름:  홍길동56
국어:  16
영어:  72
수학:  87
==========
==========
이름:  홍길동57
국어:  43
영어:  44
수학:  5
==========
==========
이름:  홍길동58
국어:  25
영어:  46
수학:  66
==========
==========
이름:  홍길동59
국어:  47
영어:  12
수학:  98
==========
==========
이름:  홍길동60
국어:  63
영어:  83
수학:  86
==========
==========
이름:  홍길동61
국어:  59
영어:  19
수학:  56
==========
==========
이름:  홍길동62
국어:  28
영어:  23
수학:  52
==========
==========
이름:  홍길동63
국어:  78
영어:  57
수학:  34
==========
==========
이름:  홍길동64
국어:  80
영어:  85
수학:  64
==========
==========
이름:  홍길동65
국어:  64
영어:  92
수학:  22
==========
==========
이름:  홍길동66
국어:  57
영어:  73
수학:  90
==========
==========
이름:  홍길동67
국어:  80
영어:  63
수학:  11
==========
==========
이름:  홍길동68
국어:  38
영어:  90
수학:  15
==========
==========
이름:  홍길동69
국어:  84
영어:  26
수학:  4
==========
==========
이름:  홍길동70
국어:  21
영어:  60
수학:  38
==========
==========
이름:  홍길동71
국어:  5
영어:  88
수학:  45
==========
==========
이름:  홍길동72
국어:  35
영어:  61
수학:  19
==========
==========
이름:  홍길동73
국어:  59
영어:  91
수학:  17
==========
==========
이름:  홍길동74
국어:  57
영어:  73
수학:  67
==========
==========
이름:  홍길동75
국어:  95
영어:  92
수학:  35
==========
==========
이름:  홍길동76
국어:  59
영어:  13
수학:  73
==========
==========
이름:  홍길동77
국어:  63
영어:  20
수학:  95
==========
==========
이름:  홍길동78
국어:  78
영어:  82
수학:  54
==========
==========
이름:  홍길동79
국어:  29
영어:  38
수학:  14
==========
==========
이름:  홍길동80
국어:  91
영어:  44
수학:  84
==========
==========
이름:  홍길동81
국어:  2
영어:  84
수학:  96
==========
==========
이름:  홍길동82
국어:  57
영어:  31
수학:  15
==========
==========
이름:  홍길동83
국어:  88
영어:  87
수학:  53
==========
==========
이름:  홍길동84
국어:  66
영어:  89
수학:  5
==========
==========
이름:  홍길동85
국어:  22
영어:  51
수학:  35
==========
==========
이름:  홍길동86
국어:  88
영어:  2
수학:  90
==========
==========
이름:  홍길동87
국어:  31
영어:  49
수학:  77
==========
==========
이름:  홍길동88
국어:  7
영어:  31
수학:  28
==========
==========
이름:  홍길동89
국어:  0
영어:  64
수학:  83
==========
==========
이름:  홍길동90
국어:  4
영어:  42
수학:  54
==========
==========
이름:  홍길동91
국어:  12
영어:  75
수학:  12
==========
==========
이름:  홍길동92
국어:  55
영어:  82
수학:  97
==========
==========
이름:  홍길동93
국어:  88
영어:  97
수학:  26
==========
==========
이름:  홍길동94
국어:  59
영어:  50
수학:  89
==========
==========
이름:  홍길동95
국어:  1
영어:  3
수학:  93
==========
==========
이름:  홍길동96
국어:  23
영어:  86
수학:  75
==========
==========
이름:  홍길동97
국어:  89
영어:  58
수학:  89
==========
==========
이름:  홍길동98
국어:  43
영어:  19
수학:  34
==========
==========
이름:  홍길동99
국어:  87
영어:  7
수학:  32
==========

In [35]:
con = sqlite3.connect("C:\\Users\\yeeyi\\Desktop\\DB\\mydata.db") #DB연결, 패스까지 써줌 기본은 현 소스파일의 디렉토리
cursor = con.cursor() #데이터베이스 사용공간 만듦 

# ~~이부분에 sql쿼리 작성
#cursor.execute(“sql문”)
cursor.close() # 커서 객체를 닫는다
con.close() # 데이터베이스 연결을 닫는다

NameError: name 'sqlite3' is not defined

In [33]:
import sqlite3 as s # sqlite3 라이브러리를 s라는 이름으로 import합니다.
con=s.connect("mydata.db") # mydata.db라는 데이터베이스 파일과 연결
cursor = con.cursor() # mydata.db라는 데이터베이스 파일과 연결

cursor.execute("drop table examtable;") #table 삭제
con.commit() # mydata.db라는 데이터베이스 파일과 연결

# examtable이라는 테이블을 생성
cursor.execute(" create table examtable( name varchar(20),studentid int not null primary key,kor int,eng int,mat int) ")
               
con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() # 커서 객체를 닫는다
con.close() # 데이터베이스 연결을 닫는다

In [37]:
import sqlite3 as s
con=s.connect("mydata.db") # DB 연결
cursor = con.cursor() # 데이터베이스 사용공간 만듦

# examtable에 데이터 추가
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);") 
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit() # 버퍼에 처리된 내용을 기록
cursor.close() # cursor 사용 종료
con.close() # DB 연결 종료

In [38]:
import sqlite3 as s

con = s.connect("mydata.db") #데이터베이스 연결
cursor = con.cursor()

cursor.execute("select * from examtable") #examtable에서 모든 레코드를 가져옴

one_rec = cursor.fetchall() #가져온 레코드를 모두 변수 one_rec에 저장

for field in one_rec: #반복문을 통해 one_rec에 저장된 각 레코드를 순회
    kor = field[2] #각 레코드의 국어 성적
    eng = field[3] #각 레코드의 영어 성적
    mat = field[4] #각 레코드의 수학 성적
    total = kor + eng + mat #총점 계산
    avg = int(total / 3) #평균 계산
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d" % (field[0], field[1], kor, eng, mat, total, avg))

cursor.close() #커서 닫기
con.close() #데이터베이스 연결 닫기

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88